services:
  0xjah-xyz:
    container_name: "0xjah.xyz"
    build:
      context: ./
      dockerfile: Dockerfile
    restart: always
    ports:
     - "26062:3000"
    environment:
      - R2_ENDPOINT=${R2_ENDPOINT}
      - R2_ACCESS_KEY=${R2_ACCESS_KEY}
      - R2_SECRET_KEY=${R2_SECRET_KEY}
      - R2_BUCKET=${R2_BUCKET}
      - R2_PUBLIC_URL=${R2_PUBLIC_URL}