<ul class="project-list">
  <li>
    <a href="https://github.com/0xjah/tiktaktoes" onclick="event.stopPropagation();window.open('https://github.com/0xjah/tiktaktoes','_blank');return false;" class="project-link">tiktaktoes - Real time multiplayer tiktaktoes game.</a>
  </li>
  <li>
    <a href="https://github.com/0xjah/hakim" onclick="event.stopPropagation();window.open('https://github.com/0xjah/hakim','_blank');return false;" class="project-link">hakim - Government complaints tracking and management.</a>
  </li>
  <li>
    <a href="https://github.com/0xjah/0xjah.xyz" onclick="event.stopPropagation();window.open('https://github.com/0xjah/0xjah.xyz','_blank');return false;" class="project-link">0xjah.xyz - Personal website and portfolio.</a>
  </li>
  <li>
    <a href="https://github.com/0xjah/minishell" onclick="event.stopPropagation();window.open('https://github.com/0xjah/minishell','_blank');return false;" class="project-link">minishell - A simple shell implementation.</a>
  </li>
</ul>