<div class="button-grid">
    <img class="button-img" src="/static/buttons/button215.gif" alt="">
    <img class="button-img" src="/static/buttons/createdwith.webp" alt="">
    <img class="button-img" src="/static/buttons/geocitieswww.gif" alt="">
    <img class="button-img" src="/static/buttons/nft.gif" alt="">
    <img class="button-img" src="/static/buttons/button.gif" alt="">
    <img class="button-img" src="/static/buttons/fairlite.gif" alt="">
    <img class="button-img" src="/static/buttons/nekojiru2.gif" alt="">
    <img class="button-img" src="/static/buttons/worldwideweb_badge.gif" alt="">
    <img class="button-img" src="/static/buttons/caramelldansen.gif" alt="">
    <img class="button-img" src="/static/buttons/fastweb.gif" alt="">
    <img class="button-img" src="/static/buttons/nerv.png" alt="">
    <img class="button-img" src="/static/buttons/dressup.gif" alt="">
    <img class="button-img" src="/static/buttons/anime.gif" alt="">
</div>