<div class="marquee" hx-ext="class-tools" hx-classes="add fade-in:200ms">
  <img
    class="button-img"
    src="/static/buttons/button215.gif"
    alt="215 Button"
    hx-on:click="
            this.classList.add('button-clicked');
            this.addEventListener('animationend', function handler() {
                this.classList.remove('button-clicked');
                this.removeEventListener('animationend', handler);
            });
         "
    title="215 Button"
  />
  <img
    class="button-img"
    src="/static/buttons/createdwith.webp"
    alt="Created With Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="Created With"
  />
  <img
    class="button-img"
    src="/static/buttons/geocitieswww.gif"
    alt="GeoCities WWW Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="GeoCities WWW"
  />
  <img
    class="button-img"
    src="/static/buttons/nft.gif"
    alt="NFT Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="NFT"
  />
  <img
    class="button-img"
    src="/static/buttons/button.gif"
    alt="Generic Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="Generic Button"
  />
  <img
    class="button-img"
    src="/static/buttons/fairlite.gif"
    alt="Fairlite Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="Fairlite"
  />
  <img
    class="button-img"
    src="/static/buttons/nekojiru2.gif"
    alt="Nekojiru Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="Nekojiru"
  />
  <img
    class="button-img"
    src="/static/buttons/worldwideweb_badge.gif"
    alt="World Wide Web Badge"
    hx-on:click="this.classList.add('button-clicked')"
    title="World Wide Web"
  />
  <img
    class="button-img"
    src="/static/buttons/caramelldansen.gif"
    alt="Caramelldansen Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="Caramelldansen"
  />
  <img
    class="button-img"
    src="/static/buttons/fastweb.gif"
    alt="Fast Web Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="Fast Web"
  />
  <img
    class="button-img"
    src="/static/buttons/nerv.png"
    alt="NERV Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="NERV"
  />
  <img
    class="button-img"
    src="/static/buttons/dressup.gif"
    alt="Dressup Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="Dressup"
  />
  <img
    class="button-img"
    src="/static/buttons/anime.gif"
    alt="Anime Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="Anime"
  />
  <img
    class="button-img"
    src="/static/buttons/akebi-chan-komichi.gif"
    alt="Akebi-chan Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="Akebi-chan"
  />
  <img
    class="button-img"
    src="/static/buttons/gnu.png"
    alt="GNU Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="GNU"
  />
  <img
    class="button-img"
    src="/static/buttons/image_widget_m3zfk09kxh491.gif"
    alt="Image Widget Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="Image Widget"
  />
  <img
    class="button-img"
    src="/static/buttons/landchad.gif"
    alt="Landchad Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="Landchad"
  />
  <img
    class="button-img"
    src="/static/buttons/nixos2.gif"
    alt="NixOS Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="NixOS"
  />
  <img
    class="button-img"
    src="/static/buttons/vscbutton.gif"
    alt="VSC Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="VSC"
  />
</div>
<div class="marquee" hx-ext="class-tools" hx-classes="add fade-in:200ms">
  <img
    class="button-img"
    src="/static/buttons/button215.gif"
    alt="215 Button"
    hx-on:click="
            this.classList.add('button-clicked');
            this.addEventListener('animationend', function handler() {
                this.classList.remove('button-clicked');
                this.removeEventListener('animationend', handler);
            });
         "
    title="215 Button"
  />
  <img
    class="button-img"
    src="/static/buttons/createdwith.webp"
    alt="Created With Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="Created With"
  />
  <img
    class="button-img"
    src="/static/buttons/geocitieswww.gif"
    alt="GeoCities WWW Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="GeoCities WWW"
  />
  <img
    class="button-img"
    src="/static/buttons/nft.gif"
    alt="NFT Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="NFT"
  />
  <img
    class="button-img"
    src="/static/buttons/button.gif"
    alt="Generic Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="Generic Button"
  />
  <img
    class="button-img"
    src="/static/buttons/fairlite.gif"
    alt="Fairlite Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="Fairlite"
  />
  <img
    class="button-img"
    src="/static/buttons/nekojiru2.gif"
    alt="Nekojiru Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="Nekojiru"
  />
  <img
    class="button-img"
    src="/static/buttons/worldwideweb_badge.gif"
    alt="World Wide Web Badge"
    hx-on:click="this.classList.add('button-clicked')"
    title="World Wide Web"
  />
  <img
    class="button-img"
    src="/static/buttons/caramelldansen.gif"
    alt="Caramelldansen Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="Caramelldansen"
  />
  <img
    class="button-img"
    src="/static/buttons/fastweb.gif"
    alt="Fast Web Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="Fast Web"
  />
  <img
    class="button-img"
    src="/static/buttons/nerv.png"
    alt="NERV Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="NERV"
  />
  <img
    class="button-img"
    src="/static/buttons/dressup.gif"
    alt="Dressup Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="Dressup"
  />
  <img
    class="button-img"
    src="/static/buttons/anime.gif"
    alt="Anime Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="Anime"
  />
  <img
    class="button-img"
    src="/static/buttons/akebi-chan-komichi.gif"
    alt="Akebi-chan Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="Akebi-chan"
  />
  <img
    class="button-img"
    src="/static/buttons/gnu.png"
    alt="GNU Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="GNU"
  />
  <img
    class="button-img"
    src="/static/buttons/image_widget_m3zfk09kxh491.gif"
    alt="Image Widget Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="Image Widget"
  />
  <img
    class="button-img"
    src="/static/buttons/landchad.gif"
    alt="Landchad Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="Landchad"
  />
  <img
    class="button-img"
    src="/static/buttons/nixos2.gif"
    alt="NixOS Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="NixOS"
  />
  <img
    class="button-img"
    src="/static/buttons/vscbutton.gif"
    alt="VSC Button"
    hx-on:click="this.classList.add('button-clicked')"
    title="VSC"
  />
</div>