<ul class="project-list">
        <li><a href="https://github.com/0xjah/MultiTool" hx-boost="false">MultiTool - Simple Python script to manage
                        common security tools on Linux</a></li>
        <li><a href="https://github.com/0xjah/PhishingModel" hx-boost="false">PhishingModel - Model weights and configs
                        for detecting phishing websites</a></li>
        <li><a href="https://github.com/0xjah/WinBootUSB" hx-boost="false">WinBootUSB - Bootable Windows 11 USB creation
                        on Linux</a></li>
        <li><a href="https://github.com/0xjah/Git-WorkShop" hx-boost="false">Git-WorkShop - Hands-on Git exercises for
                        beginners</a></li>
        <li><a href="https://github.com/0xjah/Dotfiles" hx-boost="false">Dotfiles - Personal Linux configuration setup
                        for a clean dev environment</a></li>
        <li>And more... can be found on my <a href="https://github.com/0xjah" hx-boost="false">GitHub</a></li>
</ul>