<ul class="project-list" hx-ext="class-tools" hx-classes="add fade-in:300ms">
  <li>
    <a
      href="https://github.com/0xjah/Raylib_fractol"
      hx-boost="false"
      class="project-link"
    >
       Mandelbrot - My fractol proj in c and raylib with gruvbox theme.
    </a>
  </li>
  <li>
    <a
      href="https://github.com/0xjah/minishell"
      hx-boost="false"
      class="project-link"
    >
      MiniShell - mini shelll using c cuz better .
    </a>
  </li>
    <li>
    <a
      href="https://github.com/0xjah/0xjah.xyz"
      hx-boost="false"
      class="project-link"
    >
      This Website - my own portfolio built with htmx and c . 
    </a>
  </li>
  <li>
    <a
      href="https://github.com/0xjah/Dotfiles"
      hx-boost="false"
      class="project-link"
    >
      Dotfiles - Personal Linux configuration setup for a clean dev environment
    </a>
  </li>
  <li>
    And more... can be found on my
    <a href="https://github.com/0xjah" hx-boost="false" class="project-link"
      >GitHub</a
    >
  </li>
</ul>
