<ul class="project-list" 
    hx-ext="class-tools"
    hx-classes="add fade-in:300ms">
        <li>
            <a href="https://github.com/0xjah/MultiTool" 
               hx-boost="false"
               class="project-link">
                MultiTool - Simple Python script to manage common security tools on Linux
            </a>
        </li>
        <li>
            <a href="https://github.com/0xjah/PhishingModel" 
               hx-boost="false"
               class="project-link">
                PhishingModel - Model weights and configs for detecting phishing websites
            </a>
        </li>
        <li>
            <a href="https://github.com/0xjah/WinBootUSB" 
               hx-boost="false"
               class="project-link">
                WinBootUSB - Bootable Windows 11 USB creation on Linux
            </a>
        </li>
        <li>
            <a href="https://github.com/0xjah/Git-WorkShop" 
               hx-boost="false"
               class="project-link">
                Git-WorkShop - Hands-on Git exercises for beginners
            </a>
        </li>
        <li>
            <a href="https://github.com/0xjah/Dotfiles" 
               hx-boost="false"
               class="project-link">
                Dotfiles - Personal Linux configuration setup for a clean dev environment
            </a>
        </li>
        <li>
            And more... can be found on my 
            <a href="https://github.com/0xjah" 
               hx-boost="false"
               class="project-link">
                GitHub
            </a>
        </li>
</ul>