name: rex-deployment

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"

jobs:
  rex-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: rex-7567-e27
        uses: mbaraa/rex-action@v1.6.4
        with:
          server-url: ${{ secrets.REX_SERVER }}
          token: ${{ secrets.REX_KEY }}
          repo-name: 0xjah.xyz
          commit-sha: ${{ github.sha }}
          latest-tag: ${{ github.ref }}
          compose-file-name: "docker-compose.yml"
